.env
*.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / editor configs (optional, if you don’t want them in repo)
.vscode/
.idea/